In [1]:
import pandas as pd
import requests
import json
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore')

In [8]:
apiKey ='1d49e941371e685a965fba06520cda68'

In [3]:
bus_station = pd.read_pickle('/Users/iseunghyeon/Desktop/프로젝트/data/버스정류장/Bus_Main.pickle')
bus_station.head(3)

TypeError: 'Index' object is not callable

In [4]:
bus_station.columns

Index(['정류장번호', '정류장명', '위도', '경도', '정보수집일시', '모바일단축번호', '도시코드', '도시명',
       '관리도시명', 'MT1', 'CS2', 'PS3', 'SC4', 'AC5', 'PK6', 'OL7', 'SW8', 'BK9',
       'CT1', 'AG2', 'PO3', 'AT4', 'AD5', 'FD6', 'CE7', 'HP8', 'PM9',
       '주변시설의총합', 'coord2address', 'region_2depth_name', '도로명주소', '시', '구',
       '읍/면/동', '리'],
      dtype='object')

In [5]:
bus_station_cp = bus_station[['정류장번호','정류장명','위도','경도']]
bus_station_cp.head(3)

          정류장번호     정류장명         위도          경도
0  ASB285000077     성환8리  36.921468  127.122774
1  ASB285000078       송덕  36.923783  127.118976
2  ASB285000079  국립축산과학원  36.925931  127.111136

In [7]:
CateGroupCode = ['MT1','CS2','PS3','SC4','AC5','PK6','OL7','SW8','BK9','CT1','AG2','PO3','AT4','AD5','FD6','CE7','HP8','PM9']
code_df = pd.DataFrame(columns=CateGroupCode)
bus_code_df = pd.concat([bus_station_cp,code_df],axis=1)
bus_code_df

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
0,ASB285000077,성환8리,36.921468,127.122774,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASB285000078,송덕,36.923783,127.118976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASB285000079,국립축산과학원,36.925931,127.111136,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASB285000094,성환8리,36.921479,127.122505,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASB285000095,성환터미널,36.917221,127.132732,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2309,GGB285000034,성환터미널,36.916583,127.132933,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2310,GGB285000035,남서울대학,36.910267,127.142200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2311,GGB285500010,천안TG.단대.천안대,36.822650,127.162867,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2312,GGB285500020,천안종합터미널,36.819833,127.155733,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2313,GGB285500030,천안종합터미널,36.819800,127.155600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cnt=0
# 적용할 데이터프레임
# bus_code_df = 데이터프레임.copy()
bus_code_df = bus_code_df.head(2)


headers = {'Authorization': 'KakaoAK {}'.format(apiKey) }
for code in tqdm(CateGroupCode):
  for idx in tqdm(range(len(bus_code_df))):
    x = bus_code_df.at[idx,'경도']
    y = bus_code_df.at[idx,'위도']
    try:
      searching ='category_group_code={code}&x={x}&y={y}&radius={radius}'.format(code=code,x=str(x),y=str(y),radius=500)
      url='https://dapi.kakao.com/v2/local/search/category.json?{}'.format(searching)
      data=requests.post(url,headers=headers)
      result = json.loads(data.text)
      # print(result)    
      
      

      bus_code_df.at[idx,code] = result.get('meta').get('total_count')


    except:
      cnt+1
      if cnt%50 ==0:
        print('안긁히고 있는 데이터 갯수:',cnt)
      pass
  print(code,'코드 완료')

100%|██████████| 2/2 [00:00<00:00, 12.88it/s]
  6%|▌         | 1/18 [00:00<00:02,  6.30it/s]

MT1 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.24it/s]
 11%|█         | 2/18 [00:00<00:02,  6.41it/s]

CS2 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.87it/s]
 17%|█▋        | 3/18 [00:00<00:02,  6.58it/s]

PS3 코드 완료

100%|██████████| 2/2 [00:00<00:00, 12.51it/s]
 22%|██▏       | 4/18 [00:00<00:02,  6.22it/s]

SC4 코드 완료

100%|██████████| 2/2 [00:00<00:00, 14.06it/s]
 28%|██▊       | 5/18 [00:00<00:02,  6.45it/s]

AC5 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.34it/s]
 33%|███▎      | 6/18 [00:00<00:01,  6.48it/s]

PK6 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.52it/s]
 39%|███▉      | 7/18 [00:01<00:01,  6.52it/s]

OL7 코드 완료

100%|██████████| 2/2 [00:00<00:00, 14.05it/s]
 44%|████▍     | 8/18 [00:01<00:01,  6.63it/s]

SW8 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.74it/s]
 50%|█████     | 9/18 [00:01<00:01,  6.67it/s]

BK9 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.66it/s]
 56%|█████▌    | 10/18 [00:01<00:01,  6.67it/s]

CT1 코드 완료

100%|██████████| 2/2 [00:00<00:00, 12.87it/s]
 61%|██████    | 11/18 [00:01<00:01,  6.55it/s]

AG2 코드 완료

100%|██████████| 2/2 [00:00<00:00, 11.89it/s]
 67%|██████▋   | 12/18 [00:01<00:00,  6.19it/s]

PO3 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.90it/s]
 72%|███████▏  | 13/18 [00:02<00:00,  6.37it/s]

AT4 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.58it/s]
 78%|███████▊  | 14/18 [00:02<00:00,  6.45it/s]

AD5 코드 완료

100%|██████████| 2/2 [00:00<00:00, 11.76it/s]
 83%|████████▎ | 15/18 [00:02<00:00,  6.23it/s]

FD6 코드 완료

100%|██████████| 2/2 [00:00<00:00, 12.64it/s]
 89%|████████▉ | 16/18 [00:02<00:00,  6.22it/s]

CE7 코드 완료

100%|██████████| 2/2 [00:00<00:00, 13.18it/s]
 94%|█████████▍| 17/18 [00:02<00:00,  6.29it/s]

HP8 코드 완료

100%|██████████| 2/2 [00:00<00:00, 12.04it/s]
100%|██████████| 18/18 [00:02<00:00,  6.38it/s]

PM9 코드 완료

In [20]:
bus_code_df

,정류장번호,정류장명,위도,경도,MT1,CS2,PS3,SC4,AC5,PK6,...,BK9,CT1,AG2,PO3,AT4,AD5,FD6,CE7,HP8,PM9
0,ASB285000077,성환8리,36.921468,127.122774,0,2,1,0,0,2,...,2,1,2,0,0,0,8,0,1,0
1,ASB285000078,송덕,36.923783,127.118976,0,2,2,1,0,2,...,2,0,3,0,0,0,3,0,0,0